$baseFontSize: 25px;
$smallFontSize: $baseFontSize - 5px;
@mixin heading {
  // margin: 10px 0;
  font-weight: bold;
  line-height: 20px;
  text-rendering: optimizelegibility;
}

@mixin topHeading {
  @include heading;
  line-height: 40px !important;
}

.markdown {
  font-family: "Roboto";
  text-align: justify;

  h1 {
    @include topHeading;
    font-size: 39px;
  }
  h2 {
    @include topHeading;
    font-size: 31px;
  }
  h3 {
    @include topHeading;
    font-size: 23px;
  }
  h4 {
    @include heading;
    font-size: 17px;
  }
  h5 {
    @include heading;
    font-size: 14px;
  }
  h6 {
    @include heading;
    font-size: 11px;
  }

  p {
    font-size: $baseFontSize - 7px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  li {
    font-size: $baseFontSize - 7px;
    line-height: 20px;
  }
}
@media (max-width: 800px) {
  .markdown {
    h1 {
      font-size: $smallFontSize;
    }
    h2 {
      font-size: $smallFontSize - 5px;
    }
    p {
      font-size: $smallFontSize - 7px;
    }
  }
}
